.subTitle {
    font-size: 1.8rem;
    letter-spacing: 12px;
}


.menuContainer {
    width: 25%;
    font-size: 1.7rem;
}

.containerArchitecture, .containerCivilEngineering, .containerRenders {
    grid-template-columns: repeat(2, 1fr);
    margin: 25px;
    padding: 10px;
}

.containerArchitecture > div {

    padding: 10px;
}

.containerCivilEngineering > div {

    padding: 10px;
}

.containerRenders > div {

    padding: 10px;
}

h3 {
    letter-spacing: 12px;
    font-size: 1.5rem;
    font-weight: 10;
    margin-left: 25px;
}

.projectContainer {
    grid-template-columns: repeat(2, 1fr);
    height: 80%;
}

.projectContainer img {
    width: 80%;
}

#murosApp {
    font-size: 1.3rem;
    top:92.5%;
    left: 85%;
}